<header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a routerLinkActive="active" routerLink="/" class="navbar-brand"
          [routerLinkActiveOptions]="{exact: true}">My Routing App</a>
        </div>


        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li> <!-- routerLink - This directive lets you add a CSS class to an element when the link's route becomes active.
                                                                     routerLinkActiveOptions - add the classes only when the url matches the link exactly-->
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

<main>
    <router-outlet></router-outlet>
</main>